<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8"/>
    <title>Spring Cloud Shop</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}"/>
    <script type="text/javascript" th:src="@{js/jquery-2.0.0.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar header--navbar desktop-only">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
                        <li class="navbar-link"><a href="#" th:href="@{index}">Home</a></li>
                        <li class="navbar-link"><a href="#" th:href="@{registrations}">Register</a></li>
                        <li class="navbar-link"><a href="#" th:href="@{shop}">Shop</a></li>
                        <li th:if="${#httpServletRequest.remoteUser != null}" class="navbar-link">
                            <a href="#"
                               th:href="@{customers}">Customer Data
                            </a>
                        </li>
                        <li th:if="${#httpServletRequest.remoteUser != null}">
                            <strong class="navbar-text"
                                    th:text="'Signed In As: ' + ${#httpServletRequest.remoteUser}">username</strong>
                        </li>
                        <li class="navbar-text" th:if="${#httpServletRequest.remoteUser != null}">
                            <form th:action="@{/logout}" method="post" class="form-inline">
                                <button type="submit" class="btn btn-success btn-sm">Log Out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>